<div class="header">
        <div id="hamburger" class="hamburger">&#9776;</div>
        <div class="title">Kintrail</div>
        <div class="menu" id="menu">
            <a href="index.php">ホーム</a>
            <a href="admin_login.php">管理者ログイン</a>
        </div>
</div>