<div class="header">
	<div id="hamburger" class="hamburger">&#9776;</div>
	<div class="title">Kintrail</div>
	<div class="menu" id="menu">
		<a href="mypage.php">マイページ</a>
		<a href="profile_register.php">プロフィール設定</a>
		<a href="goals.php">フィットネスゴール設定</a>
		<a href="logout.php">ログアウト</a>
	</div>
</div>
